<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <!-- Navigation buttons -->
        <div class="row">
            <div class="col">
                <div class="button-group">
                    <input id="update-creds-btn" type="button" class="btn btn-primary btn-block"
                        value="Update login credentials">
                    <input id="menu-btn" type="button" class="btn btn-secondary btn-block" value="Logout">
                </div>
            </div>
        </div>
        <!-- Title -->
        <div class="row">
            <div class="col">
                <div>
                    <h1>{linked-path}</h1>
                    <div class="hide">
                        {files}
                    </div>
                </div>
            </div>
        </div>
        <!-- Form -->
        <div class="row">
            <div class="col">
                <!-- "Upload here" and "Create folder" buttons -->
                <div class="button-group-flex">
                    <input id="upload-btn" type="button" class="btn btn-primary" value="Upload here">
                    <input id="create-folder-btn" type="button" class="btn btn-primary" value="Create folder"
                        data-toggle="modal" data-target="#createFolderModal">
                </div>

                <hr>

                <!-- "Download", "Select all", "Move to", and "Delete" button -->
                <div class="button-group-flex">
                    <input id="download-selected-btn" type="button" class="btn btn-primary" value="Download">
                    <input id="select-all-btn" type="button" class="btn btn-dark" value="Select all">
                    <input type="button" class="btn btn-primary" value="Move to" data-toggle="modal"
                        data-target="#moveToModal" id="move-to-btn">
                    <input id="delete-btn" type="button" class="btn btn-danger" value="Delete">
                </div>

                <!-- "Create a folder" modal -->
                <div class="modal fade" id="createFolderModal" tabindex="-1" role="dialog"
                    aria-labelledby="createFolderModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <form id="create-folder-form-modal">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="createFolderModalLabel">Create a folder</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label for="folder-name-modal" class="col-form-label">Enter a name:</label>
                                    <input required id="folder-name-modal" class="form-control" type="text">
                                </div>
                                <div class="modal-footer button-group-flex">
                                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Close">
                                    <input type="submit" class="btn btn-primary" value="Create">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- "Move to" modal -->
                <div class="modal fade" id="moveToModal" tabindex="-1" role="dialog" aria-labelledby="moveToModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <form id="move-to-form-modal">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="moveToModalLabel">Move files to</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label for="directory-path-modal" class="col-form-label">Enter a directory
                                        path:</label>
                                    <input required id="directory-path-modal" class="form-control" type="text">
                                </div>
                                <div class="modal-footer button-group-flex">
                                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Close">
                                    <input type="submit" class="btn btn-primary" value="Move">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Table -->
                <form id="checkbox-form">
                    <div class="form-group table-responsive">
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Select</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                <tr id="example-row" class="hide">
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/home.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
        crossorigin="anonymous"></script>
</body>

</html>