body {
    margin-top: 1rem;
    background-color: #EFEFEF;
}

.centered-title {
    text-align: center;
}

#dropzoneArea {
    margin-top: 1rem;
    border: 2px dashed #00008d;
    background-color: #d2d2e6;
}

.hide {
    display: none;
}

.checkbox {
    width: 1.5rem;
    height: 1.5rem;
}

.button-group {
    display: block;
    margin-bottom: 0.5rem;
}

.button-group-flex {
    display: flex;
    margin-bottom: 0.5rem;
    flex-wrap: nowrap;
}

.button-group-flex > * {
    margin: 0 0.5rem;
    flex-grow: 1;
    width: 100%;
}

.button-group-flex > *:first-child {
    margin-left: 0;
}

.button-group-flex > *:last-child {
    margin-right: 0;
}

@media screen and (max-width: 424px) {
    .button-group-flex {
        flex-wrap: wrap;
    }
    
    .button-group-flex > * {
        width: auto;
        margin: 0 0.25rem;
    }
}

@media screen and (max-width: 400px) {
    .button-group-flex > * {
        margin: 0 0.15rem;
    }

    #delete-btn {
        margin: 0;
        margin-top: 0.5rem;
    }
}